@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Gayathri');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/*

--- rough Organization rules ---

1. general styles: root, body, html, container etc.
2. reusable styles, content styles (font, color, line, ...)
3. single purpose styles
   1) layout/display properties  -> position on the page
   2) box styling properties     -> box styles
   3) content + transition styles

every section is ordered acccording to html structure
naming convention used: BEM

*/


/* -------------------- GENERAL STYLES ------------------ */
:root {
  --color-lightshade: #F6F6F6;
  --color-midshade: #cccccc;
  --color-darkshade: #282828;
  --color-dark: #0a0a0a;

  --color-bg: #fffcfb;
  --color-cinnabar: #E05048;
  --color-mainred: #D92E25;
  --color-mainblue: #3d4b70;
  --color-lightblue: #576A9E;
}

* {
  box-sizing: border-box;
  color: #3d4b70;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body, html {  
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  background-color: var(--color-bg);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  background-color: var(--color-bg);
  margin-bottom: 2rem;
} 

/* :focus events / site navigation with TAB*/
.logo:focus, .nav__link:focus {
  outline: none;
  color: var(--color-cinnabar);
}

/* ----- COMPONENT STYLES ----- */

/* navigation */

.logo {
  display: inline-block;
  font-size: 44px;
  transition: color .3s;
}

.nav__link {
  white-space: nowrap;
  font-size: 1.2rem;
  transition: color .3s;
}

.nav__list-item:hover .nav__link {
  color: var(--color-cinnabar);
}

/* main */

.main__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 4rem;
}

.h1-heading {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: clamp(42px, 6vw, 70px);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.15em;
}

.h1-description {
  font-size: clamp(20px, 2.5vw, 26px);
  line-height: 1.55em;
  letter-spacing: -0.025em;
}

.call-to-action {
  color: var(--color-cinnabar);
  white-space: nowrap;
  font-size: 1.6rem;
  font-weight: 700;
}

.h2-heading {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: clamp(32px, 6.5vw, 42px);
  letter-spacing: -0.025em;
  margin: 0;
}

.h2-description {
  font-size: clamp(18px, 3vw, 20px);
  line-height: 1.65em;
  letter-spacing: -0.01em;
}


/* ----- LAYOUT STYLES ----- */

/* ----- NAVIGATION -----*/

.nav {
  display: flex;
  position: relative;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.logo-container:hover .logo {
  color: var(--color-cinnabar);
}

.nav__list {
  display: flex;
  margin-left: auto;
  padding: 1px;
  transition: all 0.3s;
}

.nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
}

.nav__menu-button {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.menu-button-stripes {
  width: 30px;
  height: 13px;
  margin-left: 17px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu-button-stripe {
  width: 100%;
  background-color: var(--color-mainblue);
  height: 3px;
  border-radius: 100px;
}

.nav__menu-button:hover .menu-button-stripe {
  background-color: var(--color-cinnabar);
}

.menu-button-stripe:first-child {
  transition: background-color .3s ease-out;
  transition: transform 0.3s;
}

.menu-button-stripe:nth-child(0n+2) {
  transition: background-color .8s ease-out;
  transition: transform 0.3s;
}

.open {
  display: flex !important;
  opacity: 100 !important;
}

.close {
  /* opacity: 0 !important; */
  display: none !important;
}

/* ----- MAIN ----- */

/* timeline */

.timeline {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  left: 5%;
  top: 4.5%;
  width: 5px;
  border-radius: 10px;
  background-color: var(--color-mainblue);
  transition: height 0.3s;
}

.timeline__count-wrapper {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  margin-top: 4rem;
  margin-bottom: 6rem;
  top: 8rem;
  height: 40px;
  min-width: 43px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 3px solid var(--color-cinnabar);
  background-color: #ffe6e614;
  padding-left: 6px;
  font-weight: 600;
}

.timeline__count {
  /* font-weight: bold; */
  font-size: 50px;
}

/* hero section */

.main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.main__section-hero {
  flex-direction: row;
  gap: 2rem;
}

.main__section-hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main__heading {
  /* font-size: clamp(42px, 7vw, 80px); */
  font-weight: 600;
  letter-spacing: -0.03em;
}

.main__description {
  max-width: 95%;
}

.main__illustration {
  max-width: clamp(130px, 20vw, 220px);
  object-fit: contain;
  display: block;
}

.main__cto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 500px;
  background-color: var(--color-bg);
  border: 6px solid var(--color-mainblue);
  text-align: center;
  transition: background-color 0.4s;
  margin-top: 0.5rem;
  margin-left: 0.35rem;
}

.main__cto-text {
  background-color: var(--color-bg);
  transition: transform 0.3s;
}

.main__cto:hover .main__cto-text {
  transform: rotate(-8deg);
}

.main__cto:hover {
  background-color: var(--color-mainblue);
}


/* project section */

.main__section-projects {
  display: grid;
  position: relative;
  grid-template-rows: repeat(3, minmax(300px, auto));
  grid-template-columns: 2fr 1.1fr;
  grid-template-areas: 
  'work1 text1'
  'work2 text1'
  'work3 text1'
  ;
  column-gap: 1rem;
  row-gap: 6rem;
  margin-top: 10rem;
  justify-content: flex-end;
  pointer-events: none;
}

/* .main__section-projects:hover .section-projects__text-wrapper {
  margin-bottom: 24.6rem;
} */

.section-projects__text-wrapper {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  top: 20%;
  margin-bottom: 11.25rem;
  text-align: end;
  transition: margin-bottom 0.5s ease-in-out;
}

.projects__progress-bar {
  position: absolute;
  left: 110%;
  margin-top: -2rem;
  width: 4px;
  border-radius: 10px;
  background-color: var(--color-cinnabar);
  transition: height 0.3s;
}

.section-projects__heading {
}

.section-projects__description {
  margin-top: 0.25rem;
}

.projects__wrapper {
  position: relative;
  grid-area: work1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.projects__wrapper:nth-of-type(0n+3) {
  grid-area: work2;
}

.projects__wrapper:nth-of-type(0n+4) {
  grid-area: work3;
}

.project__heading {
  align-self: flex-start;
}

.project-image__seemore {
  position: absolute;
  z-index: 6;
  opacity: 0;
  transition: .3s ease-in;
  font-size: 150%;
  font-weight: 700;
  letter-spacing: -0.025em;
}

.project__image-wrapper:hover .project-image__seemore {
  opacity: 100;
  /* color: var(--color-cinnabar); */
  /* color: white; */
}

.project__image-wrapper {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: flex-start;
  width: max(375px, 60%);
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.project__image-wrapper:hover {
  width: 80%;
}

.project-image {
  max-width: 100%;
  border-radius: 4px;
  pointer-events: all;
  transition: all 0.3s ease-in-out;
}

.project__image-wrapper:hover .project-image {
  opacity: 20%;
}

.project-image:hover {
  cursor: pointer;
}

.project-description {
  display: inline-block;
  align-self: flex-start;
  max-width: 600px;
}




/* contact section */

.main__section-contact {
  position: relative;
  align-items: center;
  margin-top: 4rem;
  padding-top: 10rem;
  gap: 1.25rem;
}

.contact__description {
  text-align: center;
  line-height: 1.5em;
}

.nobreak {
  white-space: nowrap;
}

.contact__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.icon__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 83.2px;
}

.contact__icon-link {
  position: relative;
}

.contact__icon {
  position: relative;
  display: block;
  width: 40px;
  background-color: var(--color-bg);
  transition: all 0.2s;
  will-change: contents;
}

.icon__wrapper:hover .contact__icon {
  transform: scale(1.06);
}

.icon__description {
  color: black;
  transition: all 0.2s;
}

.icon__wrapper:hover  .icon__description {
  color: var(--color-cinnabar);
}

.contact__email {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  transition: all 0.2s;
  font-size: clamp(1rem, 3vw, 1.15rem);
  margin-top: -0.6rem;
}

.contact__email:hover {
  cursor: pointer;
  color: var(--color-cinnabar);
}

.copy__email {
  font-size: clamp(0.875rem, 2.5vw, 1rem);
  color: black;
  transition: all 0.2s;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.06em;
  margin-top: 0.2rem;
}

.contact__email:hover .copy__email {
  color: rgba(0, 0, 0, 0.877);
}

.main__section-offers {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  text-align: center;
  margin-top: 24rem;
}


/* ----- FOOTER -----*/

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0;
  row-gap: 0.75rem;
  margin-top: 12rem;
  /* background-color: rgb(189, 189, 189); */
}

.footer .logo-container {
  margin-right: 0;
  margin-left: 0;
  justify-self: center;
}

.footer .nav__list {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  opacity: 100;
}

.copyright {
  margin-top: 0.75rem;
  white-space: nowrap;
}

@media (max-width: 1420px) {

  .timeline {
    left: 4.5%;
  }

}

@media (max-width: 980px) {

  .container {
    width: 95%;
  } 

  .timeline {
    display: none;
  }

  /* navigation */
  
  .nav__list-item {
    padding: 0.5rem 0.5rem;
  }

  /* hero section */

  .main__section-hero {
    margin-top: 1rem;
  }

  /* projects section */

  .main__section-projects {
    grid-template-columns: 2fr 1.5fr;
  }

  .section-projects__text-wrapper {
    margin-right: 0.5rem;
  }

  .projects__progress-bar {
    left: 103.5%;
  }

  .project__image-wrapper {
    width: 100%;
  }

  .project__image-wrapper:hover .project-image__seemore {

  }
  
  .project__image-wrapper:hover {
    width: 100;
  }
  
}

@media (max-width: 800px) {

  /* nav */

  .nav {
    /* margin: 1rem 0; */
  }
  
  .nav__list {
    display: none;
    justify-content: flex-end;
    opacity: 0;
    transition: all 0.3s;
    flex-wrap: wrap;
  }

  .nav__menu-button {
    display: flex;
    opacity: 100;
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
  }

  .nav__link.close + .menu-button-stripes {
    position: relative;
    justify-content: center;
    margin-left: 0;
    height: 30px;
    width: 30px;
  }

  .nav__link.close + .menu-button-stripes .menu-button-stripe:first-child {
    transform: rotate(45deg);
    position: absolute;
    top: 13px;
  }
  
  .nav__link.close + .menu-button-stripes .menu-button-stripe:nth-child(0n+2) {
    transform: rotate(-45deg);
    position: absolute;
    top: 13px;
  }
  
  /* hero section */

  .main__cto {
    width: 5rem;
    height: 5rem;
    border-radius: 500px;
    margin-left: 0.5rem;
  }

  .call-to-action {
    font-size: 1.4rem;
  }
  
  .main__illustration {
    display: none;
  }
  
  /* project section */

  
  .main__section-projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 8rem;
  }


  
  .section-projects__text-wrapper {
    align-self: flex-end;
    position: relative;
    margin-bottom: 0;
    top: 0;
  }
  
  .projects__progress-bar {
    left: 103%;
    width: 3px;
    top: 16%;
  }

  .project__image-wrapper:hover {
    width: 100%;
  }
  
  .project__image-wrapper {
    max-width: 100%;
  }

  /* contact section */

  /* footer */

  .footer {
    justify-content: center;
    flex-direction: column;
  }

}

@media (max-width: 550px) {
  
  .container {
    width: 90%;
  }
  
  /* navigation section */

  .nav {
    /* align-items: flex-start; */
  }

  .nav__list {
    flex-direction: column;
    margin: 0;
    background-color: #fffcfbed;
  }

  .nav__link.close + .menu-button-stripes {
    /* margin-top: -4.5rem; */
  }

  /* hero section */

  .main__section-hero {
    margin-top: 0.5rem;
  }

  /* project section */

  .project__image-wrapper {
    min-width: 0;
  }

  /* footer */

  .footer.nav {
    align-items: center;
  }

}